{% extends "::layout.html.twig" %}

{# en ce qui concerne le bloc du titre, on ajoute le titre de la page suivi du contenu du bloc qui est en parent, soit dans notre cas "Retro Man Games".#}
{% block title %}
    Jeux Rétros - {{ parent() }}
{% endblock %}


{% block body %}

  <section id="bannerVideo">
    <h1 id="title">Jeux Retros</h1>
      <video autoplay loop muted>
        <source src="/videos/Retro.mp4" type="video/mp4">
      </video>
  </section>
  <section class="row padding-row">
    <div class="col-lg-2">
      <div class="row">
        <div class="col-lg-12 round-icon-vertical ">
          <a href="{{path("rmg_retrogames")}}">
            <img src="/img/LogoRetro.png" alt="LogoRetro">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6  round-icon">
          <a href="{{path("rmg_arcade")}}">
            <img src="/img/LogoArcadeInactif.png" alt="LogoArcadeInactif">
          </a>
        </div>
        <div class="col-lg-6 round-icon">
          <a href="{{path("rmg_mangas")}}">
            <img src="/img/LogoMangasInactif.png" alt="LogoMangasInactif">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 round-icon-vertical">
          <a href="{{path("rmg_ddr")}}">
            <img src="/img/LogoDDRInactif.png" alt="LogoDDRInactif">
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
    <div class="slider">
      <div>
        <img class="sliderimage rotate180"src="/img/Arcade1.jpg" alt="SmashBrosAndMegaman">
        <p class="slidercontent">Ci dessus, une photo du jeu de combat Super Smash bros Melee sur gamecube, ainsi que Mega man X5 sur l'écran de Gauche</p>
      </div>
      <div>
        <img class="sliderimage rotate180" src="/img/Arcade2.jpg" alt="SmashBrosDetail">
        <p class="slidercontent">Ces jeux sont vraiment sympas pour jouer à plusieurs, en effet Smash Bros a une réputation de jeu multijoueur fun qui n'est plus à prouver !</p>
      </div>
      <div>
        <img class="sliderimage rotate180" src="/img/Arcade3.jpg" alt="BattleGames">
        <p class="slidercontent">Si vous êtes plus portés sur les jeux de combat, nous avous également Double Dragon sur Megadrive, ainsi que Street Fighter 2 sur la même machine</p>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="row padding-row">
      <div class="col-lg-6 triangle-left">
        <img class="previous" src="/img/arrow.png" alt="left arrow">
      </div>
      <div class="col-lg-6 triangle-right">
        <img class="next" src="/img/arrow.png" alt="right arrow">
      </div>
    </div>
  </div>
  </section>
{% endblock %}
