{% extends "::layout.html.twig" %}

{# en ce qui concerne le bloc du titre, on ajoute le titre de la page suivi du contenu du bloc qui est en parent, soit dans notre cas "Retro Man Games".#}
{% block title %}
    Mangas - {{ parent() }}
{% endblock %}


{% block body %}
  <section id="bannerVideo">
    <h1 id="title">Espace Mangas</h1>
    <video autoplay loop muted>
        <source src="/videos/Mangas.mp4" type="video/mp4">
        </video>
    </section>

    <section class="row padding-row">
      <div class="col-lg-2">
        <div class="row">
          <div class="col-lg-12 round-icon-vertical ">
            <a href="{{path("rmg_retrogames")}}">
              <img src="/img/LogoRetroInactif.png" alt="logoRetroInactif">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6  round-icon">
            <a href="{{path("rmg_arcade")}}">
              <img src="/img/LogoArcadeInactif.png" alt="LogoArcadeInactif">
            </a>
          </div>
          <div class="col-lg-6 round-icon">
            <a href="{{path("rmg_mangas")}}">
              <img src="/img/LogoMangas.png" alt="LogoMangas">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 round-icon-vertical">
            <a href="{{path("rmg_ddr")}}">
              <img src="/img/LogoDDRInactif.png" alt="LogoDDRInactif">
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
      <div class="slider">
        <div>
          <img class="sliderimage rotate180"src="/img/Coin Lecture.jpg" alt="coin lecture">
          <p class="slidercontent">Le coin lecture, parfait pour se reposer et lire des bon mangas en toute quiétude </p>
        </div>
        <div>
          <img class="sliderimage rotate180" src="/img/Cerisier.jpg" alt="Cerisier">
          <p class="slidercontent">Afin de rappeler l'ambiance très japonaise de l'endroit, nous avons ajouté un magnifique cerisier en fleurs</p>
        </div>
        <div>
          <img class="sliderimage rotate180" src="/img/Manga overview.jpg" alt="Mangas">
          <p class="slidercontent">Ci-dessus une vue de l'immense collection de mangas présente dans notre établissement</p>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="row padding-row">
        <div class="col-lg-6 triangle-left">
          <img class="previous" src="/img/arrow.png" alt="left arrow">
        </div>
        <div class="col-lg-6 triangle-right">
          <img class="next" src="/img/arrow.png" alt="right arrow">
        </div>
      </div>
    </div>
    </section>


{% endblock %}
