{% extends "::layout.html.twig" %}

{# en ce qui concerne le bloc du titre, on ajoute le titre de la page suivi du contenu du bloc qui est en parent, soit dans notre cas "Retro Man Games".#}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}


{% block body %}
  <section id="bannerVideo">
    <h1 id="title">Espace Mangas</h1>
    <video autoplay loop muted>
        <source src="videos/pacman game play.mp4" type="video/mp4">
        </video>
    </section>

    <section class="row padding-row">
      <div class="col-lg-2">
        <div class="row">
          <div class="col-lg-12 round-icon-vertical ">
            <a href="{{path("rmg_retrogames")}}">
              <img src="img/LogoRetroInactif.png">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6  round-icon">
            <a href="{{path("rmg_arcade")}}">
              <img src="img/LogoArcadeInactif.png">
            </a>
          </div>
          <div class="col-lg-6 round-icon">
            <a href="{{path("rmg_mangas")}}">
              <img src="img/LogoMangas.png">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 round-icon-vertical">
            <a href="{{path("rmg_ddr")}}">
              <img src="img/LogoDDRInactif.png">
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
      <div class="slider">
        <div>
          <img class="sliderimage rotate180"src="img/Coin Lecture.jpg">
          <p class="slidercontent">Le texte suivant est à remplir :D</p>
        </div>
        <div>
          <img class="sliderimage rotate180" src="img/Cerisier.jpg">
          <p class="slidercontent">Le texte suivant est à remplir :D</p>
        </div>
        <div>
          <img class="sliderimage rotate180" src="img/Manga overview.jpg">
          <p class="slidercontent">Le texte suivant est à remplir :D</p>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="row padding-row">
        <div class="col-lg-6 triangle-left">
          <img class="previous" src="img/arrow.png">
        </div>
        <div class="col-lg-6 triangle-right">
          <img class="next" src="img/arrow.png">
        </div>
      </div>
    </div>
    </section>


{% endblock %}
